USE [QuanLyChamCong]
GO
/****** Object:  Table [dbo].[tb_Account]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_tb_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BANGCONG]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BANGCONG](
	[MaBC] [int] IDENTITY(1,1) NOT NULL,
	[Nam] [int] NULL,
	[Thang] [int] NULL,
	[Ngay] [int] NULL,
	[GioVao] [int] NULL,
	[PhutVao] [int] NULL,
	[GioRa] [int] NULL,
	[PhutRa] [int] NULL,
	[MaNV] [int] NULL,
	[IDLC] [int] NULL,
 CONSTRAINT [PK_tb_BANGCONG] PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BANGCONG_NHANVIEN_CHITIET]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BANGCONG_NHANVIEN_CHITIET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKyCong] [int] NULL,
	[MaCTy] [int] NULL,
	[MaNV] [int] NULL,
	[HoTen] [nvarchar](50) NULL,
	[Ngay] [datetime] NULL,
	[Thu] [nvarchar](50) NULL,
	[GioVao] [nvarchar](50) NULL,
	[GioRa] [nvarchar](50) NULL,
	[NgayPhep] [float] NULL,
	[CongNgayLe] [float] NULL,
	[CongChuNhat] [float] NULL,
	[NgayCong] [float] NULL,
	[KyHieu] [nvarchar](50) NULL,
	[SoLanChamCong] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_BANGCONG_NHANVIEN_CHITIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_BOPHAN]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BOPHAN](
	[IDBP] [int] IDENTITY(1,1) NOT NULL,
	[TenBP] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[IDBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CONGTY]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CONGTY](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[TenCT] [nvarchar](50) NULL,
	[DienThoai] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
 CONSTRAINT [PK_tb_CONGTY] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CHUCVU]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CHUCVU](
	[IDCV] [int] IDENTITY(1,1) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DANTOC]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DANTOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_DANTOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DIEUCHUYEN]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DIEUCHUYEN](
	[SoQD] [nvarchar](50) NOT NULL,
	[Ngay] [datetime] NULL,
	[MaNV] [int] NULL,
	[MaPB] [int] NULL,
	[MaPB2] [int] NULL,
	[LyDo] [nvarchar](300) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
 CONSTRAINT [PK_tb_DIEUCHUYEN] PRIMARY KEY CLUSTERED 
(
	[SoQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KYCONG]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KYCONG](
	[MaKyCong] [int] NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[Khoa] [bit] NULL,
	[NgayTinhCong] [datetime] NULL,
	[NgayCongTrongThang] [float] NULL,
	[MaCTy] [int] NULL,
	[TrangThai] [bit] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_tb_KYCONG] PRIMARY KEY CLUSTERED 
(
	[MaKyCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_KYCONGCHITIET]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KYCONGCHITIET](
	[MaKyCong] [int] NOT NULL,
	[MaNV] [int] NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[MaCTy] [int] NULL,
	[D1] [nvarchar](10) NULL,
	[D2] [nvarchar](10) NULL,
	[D3] [nvarchar](10) NULL,
	[D4] [nvarchar](10) NULL,
	[D5] [nvarchar](10) NULL,
	[D6] [nvarchar](10) NULL,
	[D7] [nvarchar](10) NULL,
	[D8] [nvarchar](10) NULL,
	[D9] [nvarchar](10) NULL,
	[D10] [nvarchar](10) NULL,
	[D11] [nvarchar](10) NULL,
	[D12] [nvarchar](10) NULL,
	[D13] [nvarchar](10) NULL,
	[D14] [nvarchar](10) NULL,
	[D15] [nvarchar](10) NULL,
	[D16] [nvarchar](10) NULL,
	[D17] [nvarchar](10) NULL,
	[D18] [nvarchar](10) NULL,
	[D19] [nvarchar](10) NULL,
	[D20] [nvarchar](10) NULL,
	[D21] [nvarchar](10) NULL,
	[D22] [nvarchar](10) NULL,
	[D23] [nvarchar](10) NULL,
	[D24] [nvarchar](10) NULL,
	[D25] [nvarchar](10) NULL,
	[D26] [nvarchar](10) NULL,
	[D27] [nvarchar](10) NULL,
	[D28] [nvarchar](10) NULL,
	[D29] [nvarchar](10) NULL,
	[D30] [nvarchar](10) NULL,
	[D31] [nvarchar](10) NULL,
	[NgayCong] [float] NULL,
	[NgayPhep] [float] NULL,
	[NghiKhongPhep] [float] NULL,
	[CongNgayLe] [float] NULL,
	[CongChuNhat] [float] NULL,
	[TongNgayCong] [float] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_KYCONGCHITIET_1] PRIMARY KEY CLUSTERED 
(
	[MaKyCong] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LOAICA]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICA](
	[IDLoaiCa] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiCa] [nvarchar](50) NULL,
	[GioVao] [varchar](50) NULL,
	[GioRa] [varchar](50) NULL,
	[HeSo] [float] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_tb_LOAICA] PRIMARY KEY CLUSTERED 
(
	[IDLoaiCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_LOAICONG]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICONG](
	[IDLC] [int] IDENTITY(1,1) NOT NULL,
	[TenLC] [nvarchar](50) NULL,
	[HeSo] [float] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_tb_LOAICONG] PRIMARY KEY CLUSTERED 
(
	[IDLC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHANVIEN]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [datetime] NULL,
	[DienThoai] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[HinhAnh] [varbinary](max) NULL,
	[IDPB] [int] NULL,
	[IDBP] [int] NULL,
	[IDCV] [int] NULL,
	[IDTD] [int] NULL,
	[IDTG] [int] NULL,
	[IDDT] [int] NULL,
	[MaCT] [int] NULL,
	[IDLC] [int] NULL,
	[DaThoiViec] [bit] NULL,
 CONSTRAINT [PK_tb_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NHANVIEN_THOIVIEC]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN_THOIVIEC](
	[SoQD] [nvarchar](50) NOT NULL,
	[MaNV] [int] NULL,
	[NgayNopDon] [datetime] NULL,
	[NgayNghi] [datetime] NULL,
	[LyDo] [nvarchar](500) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [int] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[DELETED_BY] [int] NULL,
	[DELETED_DATE] [datetime] NULL,
 CONSTRAINT [PK_tb_NHANVIEN_THOIVIEC] PRIMARY KEY CLUSTERED 
(
	[SoQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_PHONGBAN]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHONGBAN](
	[IDPB] [int] IDENTITY(1,1) NOT NULL,
	[TenPB] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[IDPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TONGIAO]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TONGIAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenTonGiao] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_TRINHDO]    Script Date: 5/29/2024 7:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TRINHDO](
	[IDTD] [int] IDENTITY(1,1) NOT NULL,
	[TenTD] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Account] ON 

INSERT [dbo].[tb_Account] ([ID], [UserName], [Password]) VALUES (1, N'admin', N'123456')
SET IDENTITY_INSERT [dbo].[tb_Account] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ON 

INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ([ID], [MaKyCong], [MaCTy], [MaNV], [HoTen], [Ngay], [Thu], [GioVao], [GioRa], [NgayPhep], [CongNgayLe], [CongChuNhat], [NgayCong], [KyHieu], [SoLanChamCong], [GhiChu], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE]) VALUES (1, 202405, 1, 1, N'Ngô Phúc Quý', CAST(N'2024-05-01T00:00:00.000' AS DateTime), N'Thứ tư', N'', N'', 0, 0, 0, 0, N'', 0, NULL, 1, CAST(N'2024-05-05T00:29:29.557' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ([ID], [MaKyCong], [MaCTy], [MaNV], [HoTen], [Ngay], [Thu], [GioVao], [GioRa], [NgayPhep], [CongNgayLe], [CongChuNhat], [NgayCong], [KyHieu], [SoLanChamCong], [GhiChu], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE]) VALUES (2, 202405, 1, 1, N'Ngô Phúc Quý', CAST(N'2024-05-02T00:00:00.000' AS DateTime), N'Thứ năm', N'', N'', 0, 0, 0, 0, N'', 0, NULL, 1, CAST(N'2024-05-05T00:29:29.607' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] ([ID], [MaKyCong], [MaCTy], [MaNV], [HoTen], [Ngay], [Thu], [GioVao], [GioRa], [NgayPhep], [CongNgayLe], [CongChuNhat], [NgayCong], [KyHieu], [SoLanChamCong], [GhiChu], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE]) VALUES (3, 202405, 1, 1, N'Ngô Phúc Quý', CAST(N'2024-05-03T00:00:00.000' AS DateTime), N'Thứ sáu', N'', N'', 0, 0, 0, 0, N'', 0, NULL, 1, CAST(N'2024-05-05T00:29:29.607' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_BOPHAN] ON 

INSERT [dbo].[tb_BOPHAN] ([IDBP], [TenBP]) VALUES (1, N'Bộ phận hành chính, nhân sự')
INSERT [dbo].[tb_BOPHAN] ([IDBP], [TenBP]) VALUES (2, N'Bộ phận tài chính, kế toán')
INSERT [dbo].[tb_BOPHAN] ([IDBP], [TenBP]) VALUES (3, N'Lập trình viên')
SET IDENTITY_INSERT [dbo].[tb_BOPHAN] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_CONGTY] ON 

INSERT [dbo].[tb_CONGTY] ([MaCT], [TenCT], [DienThoai], [Email], [DiaChi]) VALUES (1, N'Công ty TNHH CNPM Phúc Lam Phương', N'0796832269', N'vphucvo@gmail.com', N'M66 Đinh Tiên Hoàng, Phường 8, TP. Vĩnh Long')
SET IDENTITY_INSERT [dbo].[tb_CONGTY] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_CHUCVU] ON 

INSERT [dbo].[tb_CHUCVU] ([IDCV], [TenCV]) VALUES (1, N'Giám đốc')
INSERT [dbo].[tb_CHUCVU] ([IDCV], [TenCV]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[tb_CHUCVU] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_DANTOC] ON 

INSERT [dbo].[tb_DANTOC] ([ID], [TenDT]) VALUES (1, N'Kinh')
INSERT [dbo].[tb_DANTOC] ([ID], [TenDT]) VALUES (5, N'Khmer')
INSERT [dbo].[tb_DANTOC] ([ID], [TenDT]) VALUES (6, N'H''Mông')
SET IDENTITY_INSERT [dbo].[tb_DANTOC] OFF
GO
INSERT [dbo].[tb_KYCONG] ([MaKyCong], [Thang], [Nam], [Khoa], [NgayTinhCong], [NgayCongTrongThang], [MaCTy], [TrangThai], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (202405, 5, 2024, 0, CAST(N'2024-05-10T22:13:58.053' AS DateTime), 27, 1, 1, 1, CAST(N'2024-05-05T00:29:17.117' AS DateTime), 1, CAST(N'2024-05-10T22:13:58.053' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_KYCONG] ([MaKyCong], [Thang], [Nam], [Khoa], [NgayTinhCong], [NgayCongTrongThang], [MaCTy], [TrangThai], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (202406, 6, 2024, 0, CAST(N'2024-05-05T00:29:24.650' AS DateTime), 25, 1, 0, 1, CAST(N'2024-05-05T00:29:24.650' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tb_LOAICA] ON 

INSERT [dbo].[tb_LOAICA] ([IDLoaiCa], [TenLoaiCa], [GioVao], [GioRa], [HeSo], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (1, N'Ca sáng', N'08:00', N'17:00', 1, 1, CAST(N'2024-03-25T21:00:12.703' AS DateTime), 0, CAST(N'2024-05-10T22:00:45.593' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_LOAICA] ([IDLoaiCa], [TenLoaiCa], [GioVao], [GioRa], [HeSo], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (2, N'Ca chiều', N'13:00', N'22:00', 1, 1, CAST(N'2024-03-25T21:00:19.607' AS DateTime), 0, CAST(N'2024-05-10T21:59:20.237' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_LOAICA] ([IDLoaiCa], [TenLoaiCa], [GioVao], [GioRa], [HeSo], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (3, N'Ca tối', N'22:00', N'06:00', 1.2, 1, CAST(N'2024-03-25T21:00:27.257' AS DateTime), 0, CAST(N'2024-05-10T22:00:50.687' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_LOAICA] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_LOAICONG] ON 

INSERT [dbo].[tb_LOAICONG] ([IDLC], [TenLC], [HeSo], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (1, N'Công ngày thường', 1, 1, CAST(N'2024-03-25T21:12:39.747' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[tb_LOAICONG] ([IDLC], [TenLC], [HeSo], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (2, N'Công ngày chủ nhật', 1.5, 1, CAST(N'2024-03-25T21:12:52.150' AS DateTime), 1, CAST(N'2024-03-25T21:13:23.243' AS DateTime), NULL, NULL)
INSERT [dbo].[tb_LOAICONG] ([IDLC], [TenLC], [HeSo], [CREATED_BY], [CREATED_DATE], [UPDATED_BY], [UPDATED_DATE], [DELETED_BY], [DELETED_DATE]) VALUES (3, N'Công ngày lễ', 2, 1, CAST(N'2024-03-25T21:13:14.110' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tb_LOAICONG] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_NHANVIEN] ON 

SET IDENTITY_INSERT [dbo].[tb_NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_PHONGBAN] ON 

INSERT [dbo].[tb_PHONGBAN] ([IDPB], [TenPB]) VALUES (1, N'Ban giám đốc')
INSERT [dbo].[tb_PHONGBAN] ([IDPB], [TenPB]) VALUES (2, N'Ban quản lý')
INSERT [dbo].[tb_PHONGBAN] ([IDPB], [TenPB]) VALUES (3, N'Ban sản xuất')
SET IDENTITY_INSERT [dbo].[tb_PHONGBAN] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_TONGIAO] ON 

INSERT [dbo].[tb_TONGIAO] ([ID], [TenTonGiao]) VALUES (1, N'Phật giáo')
INSERT [dbo].[tb_TONGIAO] ([ID], [TenTonGiao]) VALUES (2, N'Không')
SET IDENTITY_INSERT [dbo].[tb_TONGIAO] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_TRINHDO] ON 

INSERT [dbo].[tb_TRINHDO] ([IDTD], [TenTD]) VALUES (1, N'Cao học')
INSERT [dbo].[tb_TRINHDO] ([IDTD], [TenTD]) VALUES (2, N'Đại học')
INSERT [dbo].[tb_TRINHDO] ([IDTD], [TenTD]) VALUES (3, N'Cao đẳng')
SET IDENTITY_INSERT [dbo].[tb_TRINHDO] OFF
GO
ALTER TABLE [dbo].[tb_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_tb_LOAICONG1] FOREIGN KEY([IDLC])
REFERENCES [dbo].[tb_LOAICONG] ([IDLC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_BANGCONG] CHECK CONSTRAINT [FK_tb_BANGCONG_tb_LOAICONG1]
GO
ALTER TABLE [dbo].[tb_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_tb_NHANVIEN1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tb_NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_BANGCONG] CHECK CONSTRAINT [FK_tb_BANGCONG_tb_NHANVIEN1]
GO
ALTER TABLE [dbo].[tb_BANGCONG_NHANVIEN_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_NHANVIEN_CHITIET_tb_KYCONG] FOREIGN KEY([MaKyCong])
REFERENCES [dbo].[tb_KYCONG] ([MaKyCong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] CHECK CONSTRAINT [FK_tb_BANGCONG_NHANVIEN_CHITIET_tb_KYCONG]
GO
ALTER TABLE [dbo].[tb_BANGCONG_NHANVIEN_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_NHANVIEN_CHITIET_tb_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tb_NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_BANGCONG_NHANVIEN_CHITIET] CHECK CONSTRAINT [FK_tb_BANGCONG_NHANVIEN_CHITIET_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_DIEUCHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_DIEUCHUYEN_tb_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tb_NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_DIEUCHUYEN] CHECK CONSTRAINT [FK_tb_DIEUCHUYEN_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_KYCONGCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_tb_KYCONGCHITIET_tb_KYCONG] FOREIGN KEY([MaKyCong])
REFERENCES [dbo].[tb_KYCONG] ([MaKyCong])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_KYCONGCHITIET] CHECK CONSTRAINT [FK_tb_KYCONGCHITIET_tb_KYCONG]
GO
ALTER TABLE [dbo].[tb_KYCONGCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_tb_KYCONGCHITIET_tb_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tb_NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_KYCONGCHITIET] CHECK CONSTRAINT [FK_tb_KYCONGCHITIET_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_BOPHAN] FOREIGN KEY([IDBP])
REFERENCES [dbo].[tb_BOPHAN] ([IDBP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_BOPHAN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_CONGTY] FOREIGN KEY([MaCT])
REFERENCES [dbo].[tb_CONGTY] ([MaCT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_CONGTY]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_CHUCVU] FOREIGN KEY([IDCV])
REFERENCES [dbo].[tb_CHUCVU] ([IDCV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_CHUCVU]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_DANTOC] FOREIGN KEY([IDDT])
REFERENCES [dbo].[tb_DANTOC] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_DANTOC]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_LOAICA] FOREIGN KEY([IDLC])
REFERENCES [dbo].[tb_LOAICA] ([IDLoaiCa])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_LOAICA]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_PHONGBAN] FOREIGN KEY([IDPB])
REFERENCES [dbo].[tb_PHONGBAN] ([IDPB])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_PHONGBAN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_TONGIAO] FOREIGN KEY([IDTG])
REFERENCES [dbo].[tb_TONGIAO] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_TONGIAO]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_TRINHDO] FOREIGN KEY([IDTD])
REFERENCES [dbo].[tb_TRINHDO] ([IDTD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_TRINHDO]
GO
ALTER TABLE [dbo].[tb_NHANVIEN_THOIVIEC]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_THOIVIEC_tb_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tb_NHANVIEN] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tb_NHANVIEN_THOIVIEC] CHECK CONSTRAINT [FK_tb_NHANVIEN_THOIVIEC_tb_NHANVIEN]
GO
